html,body{
	height:100%;
	/* background-color:#b33d37; */
}

body{
	min-height:100%;
	display:flex;
	color:white;
	font-weight:bold;
	text-shadow:1px 1px 5px black;
	flex-direction: column; 
	background-image: url('http://localhost/hobbyconnect/assets/hobbyBackground.png');
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	
	background-repeat:no-repeat;
}

h1 {
	display:inline;
	color: #444;
	background-color: transparent;
	font-size: 25px;
	font-weight: normal;
	text-align:center;
} 

h2{

	color: white;
	background-color: transparent;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
}


.header{
	text-align:center;
}

.authButtons{
	/* float:right; */
}


.container {
	flex: 1 0 auto;
	
} 

.content {
	
 	margin: 20px;
 	margin-top:50px;
 	padding:10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	text-align:center;
	background-color: rgba(0,0,0,0.6);

}

.contentSmall {
	margin: auto;
	margin-bottom:25px;
 	padding:10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	text-align:center;
	background-color: rgba(0,0,0,0.6);
	width:50%;

}

.footer{
	flex-shrink:0;
	background-color:black;
	height:35px;
	color:white;
}


a{
	color:black;
	margin:5px;
}

a:hover{
	text-decoration:none;
}


.signinError{
	text-align:center;
	color:red;
}

.hobbyDropdown{
	/* color:red; */
}

#map{
	height:350px;
}


.userBox{
	border:1px solid black;
}

#userProfile{
	width:75%;
	text-align:center;
	margin:auto;

}




.profileImage{
	width:100%;
	max-width:250px;
}

.btn{
	border: solid 1px white;
	
}







.sideNav {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#container {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideNav {
  	width: 0px;
  	padding-top:15px;
  }
  .sideNav a{
  	font-size: 18px;
  }
}

@media screen and (max-width: 1250px) {
  .sideNav {
  	width: 0px;
  	padding-top:15px;
  }
  .sideNav a{
  	font-size: 18px;
  }
}