html,body{
	height:100%

}

body{
	display:flex;
	
	flex-direction: column;
	
}

h1 {
	display:inline;
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px; 
	text-align:center;
}



h2 {
	color: #444;
	background-color: transparent;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
	text-align:center;
}

.header{
	text-align:center;
}

.authButtons{
	/* float:right; */
}


.container {
	flex: 1 0 auto;
	
} 

.content {
 	margin: 10px;
 	padding:10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	text-align:center;
  	
}

.footer{
	flex-shrink:0;
	background-color:black;
	height:35px;
	color:white;
}


a{
	color:black;
}

a:hover{
	text-decoration:none;
}


.signinError{
	text-align:center;
	color:red;
}

.hobbyDropdown{
	color:red;
}

#map{
	height:350px;
}


.userBox{
	border:1px solid black;
}


.profileImage{
	width:250px;
	
}