html,body{
	height:100%;
	
	background: url('../assets/hobbyBackground.png');
	

}

body{
	min-height:100%;
	display:flex;
	color:white;
	font-weight:bold;
	text-shadow:1px 1px 5px black;
	flex-direction: column; 
	
	
}




h1 {
	display:inline;
	color: #444;
	background-color: transparent;
	font-size: 25px;
	font-weight: normal;
	text-align:center;
} 

h2{

	color: white;
	background-color: transparent;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
}


.header{
	text-align:center;
}


.container {
	flex: 1 0 auto;

	
} 

.content {
	width:80%;
 	margin: auto;
 	margin-top:25px;
 	padding:10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	text-align:center;
	background-color: rgba(0,0,0,0.8);

}

.contentSmall {
	margin: auto;
	margin-top:10px;
	margin-bottom:10px;
 	padding:10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	text-align:center;
	background-color: rgba(0,0,0,0.8);
	width:50%;

}

.footer{
	flex-shrink:0;
	background-color:black;
	height:35px;
	color:white;
}

.footerLinks{
	color:white!important;
}

a{
	color:white;
	margin:5px;
}

a:hover{
	text-decoration:none;
	color:grey;
}


.signinError{
	text-align:center;
	color:red;
}


/* people_view */

.userBox{
	border:1px solid white;
	width:75%;
	margin:auto;
	margin-top:5px;
	overflow:auto;
}




.userInfo{
	padding:15px;
	text-align:left;
}


.peopleListingImage{
	float:left;
	padding:15px;

	width:30%;
	min-width:150px;
}

.showUserBtn{
	float:right;
}



.btn{
	border: solid 1px white;
}

.btn:hover{
	background-color:black;
	border: solid 1px white;
	
}


#submit{
	margin:5px;
}

/* show_profile */
.profileViewImage{
	width:100%;
	max-width:150px;
}


/* user_profile_view */
 #userProfile{
	width:75%;
	margin:auto;
	overflow:auto;
} 

.profileImage{
	width:100%;
	max-width:150px;
	padding:15px;
	float:right;
}


.profileInfo{
	text-align:left;
}



.profileTitles{
	color:red;
}


/* Navigational elements */


.sideNav {
  	height: 100%; 
  	width: 150px; 
  	position: fixed;
  	z-index: 1; 
  	top: 0;
  	left: 0;
  	background-color: #111; 
  	overflow-x: hidden;
  	padding-top: 30px; 
  	transition: 0.5s;
}


.sideNav a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
}

li{
  	list-style: none;
}


.sideNav a:hover {
  	color: #f1f1f1;
}


.sidenav .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}


#container {
  	transition: margin-left .5s;
  	padding: 20px;
}




.fa.fa-bars{
	padding:15px;
	font-size:38px;
	position:absolute;
	left:5px;
	top:5px;
}

.fa.fa-bars:hover{
	cursor:pointer;
	text-shadow: 1px 1px 2px black;
}


.titleBlock{
	text-align:center;
}

.title{
	
	font-size:38px;
	color:white;
	
}

.title:hover{
	text-decoration:none;
	color:white;
	text-shadow:1px 1px 2px black;
}


/* Message_view */

.messageBoxOwn{
	border:1px solid white;
	text-align:left;
	padding:15px;
	margin:10px;
	margin-left:35px;
	box-shadow: 0px 0px 5px white;
	background-color:green;

}

.messageBoxOther{
	color:black;
	text-shadow: none;
	border:1px solid white;
	text-align:left;
	padding:15px;
	margin:10px;
	margin-right:35px;
	box-shadow: 0px 0px 5px white;
	background-color:white;
}


.pushRight{
	text-align:right;
}


/* image_upload_view */

.hidden{
	visibility: hidden;
}

/* Other info view */
.otherInfo{
	text-align:left;
	font-weight:normal;	
}






@media screen and (max-width: 768px) {
  	.sideNav {
  		width: 0px;
  		
  	}
	html,body{
		background: url('../assets/hobbyBackgroundMedium.png');
	}

  


}

@media screen and (max-width: 576px) {
  	.sideNav {
  		width: 0px;
  		
  	}
	html,body{
		background: url('../assets/hobbyBackgroundSmall.png');
	}

  
}


